<?xml version="1.0" encoding="utf-8"?>
<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="apc.enabled" value="0" />
        <ini name="eaccelerator.enable" value="0" />
        <ini name="eaccelerator.optimize" value="0" />
    </php>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
            <exclude>
                <directory>vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
